
header, section, footer, aside, nav, article, hgroup{
    display: block;
}

body{
    text-align: center;
}

.agrupar{
    background: rgb(181, 7, 105);
    padding: 5px;
    /*/width: 960px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;*/
}
.header{
    padding: 20px;
}

.seccion{
    margin: 20px;
    background: rgb(181, 7, 105);
}

.columna{
    text-align: right;
    border: 1px solid black;
}

footer{
    color: bisque;
}
